*{
    font: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-shadow: none;
    text-decoration: none;
}
html,body{
    height: 100vh;
}
footer{
    background-color: #5ABC49;
}
div#header ul{
    list-style: none;
    display: flex;
    gap: 2rem;
    display: flex;
    gap: 2rem;;
    justify-content: center;
    flex-wrap: wrap;
    text-wrap: pretty;
}header img{
    width: 10rem;
    border-radius: 10rem;
}
header{
    background-color: #5ABC49;
    display: flex;
    flex-direction:row;
}

.custom-btn-hover {
    background-color: #198754 !important;
    color: white !important;
    transition: background-color 0.3s ease; 
}

.custom-btn-hover:hover {
    background-color: #147045 !important; 
}
