*{
    font: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-shadow: none;
    text-decoration: none;
}
main {
    flex-grow: 1; /* Ocupa o espaço disponível */
}

body{
    min-height: 100vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    
}
footer{
    background-color: #5ABC49;
    margin-top: auto;
}
div#header ul{
    list-style: none;
    display: flex;
    gap: 2rem;
    display: flex;
    gap: 2rem;;
    justify-content: center;
    flex-wrap: wrap;
    text-wrap: pretty;
}header img{
    width: 4rem;
    border-radius: 10rem;
}
header{
    background-color: #5ABC49;
    display: flex;
    flex-direction:row;
}

.custom-btn-hover {
   
    color: white !important;
    transition: background-color 0.3s ease;
}

.custom-btn-hover:hover {
    color: white !important; 
}

.hover-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transform: translateY(-5px);
    transition: all 0.3s ease;
    cursor: pointer;
}
.card-img-custom {
    width: 100%; 
    max-height: 500px; 
    object-fit: cover; 
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    height: 100%; 
}

@media (max-width: 768px) {
    .card-img-custom {
        max-height: 350px; 
    }
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem; 
}

.btn-verde:hover {
    background-color: #218838;
}

.cart-item-img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

