.sidebar {
    width: fit-content;
    background-color: #1cab4e;
    height: 100vh;
    position: relative;
    padding:2rem;
    display: flex;
    flex-direction: column; /* Para que os itens fiquem em coluna */
    justify-content: center; /* Para centralizar verticalmente */
}

.logo{
 /* Um pouco mais de espaço abaixo do logo */
    width: 150px;
    height: 150px;
}



main{
    display: flex;
}
@media screen ,(max-width:300px){
    
}
