.sidebar {
    width: fit-content;
    background-color: #1cab4e;
    height: 100vh;
    position: relative;
    padding:2rem;
    display: flex;
    flex-direction: column; /* Para que os itens fiquem em coluna */
    justify-content: center; /* Para centralizar verticalmente */
}

.logo{
 /* Um pouco mais de espaço abaixo do logo */
    width: 150px;
    height: 150px;
}



.nav { /* Faz a nav ocupar o espaço restante */
    display: flex;
    flex-direction: column; /* Coloca os links em coluna */
    justify-content: center; /* Centraliza os links verticalmente */
}
.nav-link {
    color: azure;
    text-align: center; /* Centraliza o texto dos links */
    padding: 10px 0; /* Espaçamento em torno dos links */
}

@media screen ,(max-width:300px){
    
}